		.mediaViewInfo {
		--web-view-name: index;
		--web-view-id: index;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: index;
	}
	* {
		box-sizing: border-box;
		border: none;
		margin: 0;
		padding: 0;
	}
	@font-face {
		font-family: "Moon Get", "JetBrains Mono";
		src: url("../src/fonts/moon_get.ttf"), url("../src/fonts/JetbrainsMono-Regular.woff2");
	}
	#index {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: index;
		--web-view-id: index;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#BG_gradient {
		fill: url(#BG_gradient)
	}
	.BG_gradient {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1080px;
	}
	#Headings {
		position: absolute;
		width: 1642px;
		height: 137px;
		left: 141px;
		top: 198px;
		overflow: visible;
	}
	#DESIGN {
		position: absolute;
		overflow: visible;
		width: 675px;
		white-space: nowrap;
		text-align: left;
		font-family: Moon Get;
		font-style: normal;
		font-weight: normal;
		font-size: 131px;
		color: rgba(255,255,255,1);
		letter-spacing: 16.375px;
	}
	#CODING {
		left: 967px;
		position: absolute;
		overflow: visible;
		width: 676px;
		white-space: nowrap;
		text-align: left;
		font-family: Moon Get;
		font-style: normal;
		font-weight: normal;
		font-size: 131px;
		color: rgba(255,255,255,1);
	}
	#Terminal_div {
		position: absolute;
		width: 811px;
		height: 502px;
		left: 555px;
		top: 428px;
		overflow: visible;
	}
	#Terminal_rect {
		fill: rgba(0,0,0,1);
	}
	.Terminal_rect {
		position: absolute;
		overflow: visible;
		width: 811px;
		height: 499px;
		top: 3px;
	}
	#Terminal_header {
		fill: rgba(96,96,96,1);
	}
	.Terminal_header {
		overflow: visible;
		position: absolute;
		width: 810.942px;
		height: 103.473px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Terminal {
		left: 60px;
		top: 11px;
		position: absolute;
		overflow: visible;
		width: 294px;
		white-space: nowrap;
		text-align: left;
		font-family: JetBrains Mono;
		font-style: normal;
		font-weight: normal;
		font-size: 61px;
		color: rgba(255,255,255,1);
	}
	#Soon-text {
		left: 114px;
		top: 173px;
		position: absolute;
		overflow: visible;
		width: 523px;
		white-space: nowrap;
		text-align: left;
		font-family: JetBrains Mono;
		font-style: normal;
		font-weight: normal;
		font-size: 58px;
		color: rgba(255,255,255,1);
	}
	#Command_arrow {
		left: 42px;
		top: 173px;
		position: absolute;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		text-align: left;
		font-family: JetBrains Mono;
		font-style: normal;
		font-weight: normal;
		font-size: 60px;
		color: rgba(255,255,255,1);
	}
	#3D_text {
		left: 212px;
		top: 436px;
		position: absolute;
		overflow: visible;
		width: 374px;
		white-space: nowrap;
		text-align: left;
		font-family: JetBrains Mono;
		font-style: normal;
		font-weight: normal;
		font-size: 27px;
		color: rgba(255,255,255,1);
	}
	#Christmas_hat1 {
		position: absolute;
		width: 695px;
		height: 695px;
		left: 273px;
		top: 104px;
		overflow: visible;
		transform: rotate(-27deg);
	}
	#Header {
		fill: rgba(10,24,51,1);
	}
	.Header {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 111px;
	}
	#Einbrodt {
		left: 141px;
		top: 23px;
		position: absolute;
		overflow: visible;
		width: 241px;
		white-space: nowrap;
		text-align: left;
		font-family: JetBrains Mono;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: rgba(255,255,255,1);
	}
	#Home {
		left: 1109px;
		top: 33px;
		position: absolute;
		overflow: visible;
		width: 97px;
		white-space: nowrap;
		text-align: left;
		font-family: JetBrains Mono;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#About_Me {
		left: 1290px;
		top: 33px;
		position: absolute;
		overflow: visible;
		width: 193px;
		white-space: nowrap;
		text-align: left;
		font-family: JetBrains Mono;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#Portfolio {
		left: 1567px;
		top: 33px;
		position: absolute;
		overflow: visible;
		width: 217px;
		white-space: nowrap;
		text-align: left;
		font-family: JetBrains Mono;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
